{% extends 'Layout/base.html.twig' %}

{% block title %}
    Silly Sales Shack
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-white">
            Edit Section
        </h2>
        <form action="/{{ section.title|lower }}/update" method="post">
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <input type="hidden" name="id" value="{{ section.id }}">
                <div class="sm:col-span-2">
                    <label for="title"
                           class="block mb-2 text-sm font-medium text-white">
                        Title
                    </label>
                    <input type="text"
                           name="title"
                           id="title"
                           class="bg-gray-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                           value="{{ section.title }}"
                           required>
                </div>
                <div class="sm:col-span-2">
                    <label for="description"
                           class="block mb-2 text-sm font-medium text-white">
                        Description
                    </label>
                    <textarea type="text"
                              name="description"
                              id="description"
                              class="bg-gray-white border border-gray-300 text-black text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                              required>
                        {{ section.description }}
                    </textarea>
                </div>
                <div class="sm:col-span-2">
                    <label for="picture_url"
                           class="block mb-2 text-sm font-medium text-white">
                        Picture URL
                    </label>
                    <input type="text"
                           name="picture_url"
                           id="picture_url"
                           class="bg-gray-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                           value="{{ section.picture_url }}"
                           required>
                </div>
            </div>
            <button type="submit"
                    class="inline-flex items-center justify-end px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-black bg-amber-300 rounded-lg focus:ring-4 focus:ring-primary-200 ">
                Create
            </button>
        </form>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}