{% extends 'Layout/base.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container mx-auto">
        <div class="flex flex-wrap -mx-4">
            {% for listing in listings %}
                <div class="w-full sm:w-1/2 md:w-1/2 xl:w-1/4 p-4">
                    <a href="" class="c-card block bg-white shadow-md hover:shadow-xl rounded-lg overflow-hidden">
                        <div class="relative pb-48 overflow-hidden">
                            <img class="absolute inset-0 h-full w-full object-cover"
                                 src="https://placehold.co/600x400?text=Placeholder" alt="">
                        </div>
                        <div class="p-4">
                            <h2 class="mt-2 mb-2  font-bold">
                                {{ listing.title }}
                            </h2>
                            <p class="text-sm">
                                {{ listing.description }}
                            </p>
                            <div class="mt-3 flex items-center">
                    <span class="font-bold text-xl">
                        {{ listing.price }}
                    </span>
                                &nbsp;
                                <span class="text-sm font-semibold">&euro;</span>
                            </div>
                        </div>
                        <div class="p-4 border-t border-b text-xs text-gray-700">
                <span class="flex items-center">
                    <i class="far fa-address-card fa-fw text-gray-900 mr-2"></i>
                    {{ listing.location }}
                </span>
                        </div>
                        <div class="p-4 text-center text-sm text-gray-600">
                            <span class="ml-2">{{ listing.created_at }}</span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}